<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 注册自定义任务对象 -->
	<bean id="workBillJobs" class="com.itheima.bos.jobs.WorkBillJobs"></bean>
	
	<!--2.2.5	在spring配置文件中注册一个JobDetail，通过反射调用自定义任务对象的方法-->
	<!-- 注册jobDetail,通过反射调用自定义任务对象 -->
	<bean id="workBillJobsDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 目标对象 -->
		<property name="targetObject" ref="workBillJobs"></property>
		<property name="targetMethod" value="sendMail"></property>
	</bean>
	
	<!-- 配置触发器，指定任务触发时间 -->
	<bean id="workBillJobsTrigger"  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<!-- 注入jobDetail -->
		<property name="jobDetail" ref="workBillJobsDetail"></property>
		<!-- 通过表达式指定配置任务触发时间 -->
		<property name="cronExpression">
			<!-- 每30分钟执行一次任务 -->
			<value>0 19 15 * * ? </value>
		</property>
	</bean>
	
	<!-- 配置调度工厂对象，统一调用自定义任务 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<!-- 配置触发器，可以配置多个 -->
		<property name="triggers">
			<list>
				<ref bean="workBillJobsTrigger"/>
			</list>
		</property>
	</bean>
</beans>