<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:soap="http://cxf.apache.org/bindings/soap"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.2.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://cxf.apache.org/bindings/soap http://cxf.apache.org/schemas/configuration/soap.xsd">
	<!-- jedis 连接池配置 -->
	 <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">  
        <property name="maxIdle" value="300" />        
        <property name="maxWaitMillis" value="3000" />  
        <property name="testOnBorrow" value="true" />
    </bean> 
	
	<!-- jedis 连接工厂 -->
	<bean id="redisConnectionFactory"  
        class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="localhost"/>
        <property name="port" value="6379"/>
        <property name="poolConfig" ref="poolConfig"/>
    </bean>
        
    <!-- spring data 提供 redis模板  -->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="redisConnectionFactory" /> 
        <property name="keySerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />
        </property>
        <property name="valueSerializer">
        	<bean class="org.springframework.data.redis.serializer.StringRedisSerializer"> 
        	</bean>
        </property>
    </bean>
	<!-- 组件扫描 @Server @Controller @Repository -->
	<context:component-scan base-package="com.itheima.bos_fore"/>
	<jaxws:client id="bosForeClient" serviceClass="com.itheima.crm.service.impl.CustomerServiceImpl" address="http://localhost:8888/crm/cxf/customer?wsdl"></jaxws:client>
	<jaxws:client id="bosManagementClient" serviceClass="com.itheima.bos.service.take_delivery.impl.OrderServiceImpl" address="http://localhost:8080/bos_management/cxf/order?wsdl"></jaxws:client>
	
	<!-- ActiveMQ 连接工厂 -->
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory" 
    	p:brokerURL="tcp://127.0.0.1:61616" p:userName="admin" p:password="admin"></bean>
    	
    <bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory" 
    	p:targetConnectionFactory-ref="activeMQConnectionFactory" p:sessionCacheSize="100"></bean>
    
    <bean id="jmsQueueTemplate" class="org.springframework.jms.core.JmsTemplate" 
    	p:pubSubDomain="false" p:connectionFactory-ref="connectionFactory"/>
    <bean id="jmsTopicTemplate" class="org.springframework.jms.core.JmsTemplate" 
    	p:pubSubDomain="true" p:connectionFactory-ref="connectionFactory"/>
	
	
</beans>